{% extends 'base.html' %}
{% block title %}Payment Failed - UniTrade{% endblock %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}

{% block content %}
<div class="status-card-failure">
    <div class="icon-failed">💳❌</div>
    <h2>Payment Failed</h2>
    <p>{{ message }}<br>Something went wrong with the transaction. Please try again or use a different payment method.</p>

    <a href="{% url 'order:order_list' %}" class="btn-retry">
        Back to My Orders
    </a>
</div>
{% endblock %}