{% extends 'base.html' %}
{% block title %}Payment Successful - UniTrade{% endblock %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}

{% block content %}
<div class="status-card">
    <div class="icon-success">🎉</div>
    <h2>Payment Successful!</h2>
    <p> Thank you for choosing to buy through direct pay!, we are currently running updates on the system and this feature should be available soon, for now please contact seller to get your item.</p>

    <!-- <a href="{% url 'order:order_detail' order.id %}" class="btn-publish wide">
        View Order Details
    </a> -->
    <a href="{% url 'order:order_list' %}" class="btn-publish wide">
        View My Orders
    </a>
</div>
{% endblock %}