{% extends "base.html" %}

{% block title %}Login - UniTrade{% endblock %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <h2 class="auth-title">Welcome Back</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" style="margin-bottom:15px;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <form method="post" class="auth-form">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn-publish btn-submit">Login</button>
</form>

    <p style="text-align:center; margin-top:10px;">
        <a href="{% url 'user:forgot_password' %}" style="font-size:14px; color:#d86800;">
            Forgot password?
        </a>
</p>

    <p style="text-align: center; margin-top: 25px; font-size: 14px; color: #666;">
        Don't have an account? 
        <a href="{% url 'user:user_register' %}" style="color: #d86800; text-decoration: none; font-weight: bold;">Register here</a>
    </p>
</div>
{% endblock %}